.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  color: white;
  row-gap: 10px;
  h5 {
    font-size: 23px;
    font-weight: 400;
    color: #98abbe;
  }
  h3 {
    font-size: 40px;

    &.small {
      font-size: 25px;
    }
  }
}
