svg {
  text {
    fill: white;

    tspan {
      font-weight: bold;
      &:first-child {
        font-size: 50px;
        margin-bottom: 5px;
      }
      &:last-child {
        font-size: 20px;
      }
    }
  }
}
