.mainBlock {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #1e3465;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 40px;
}
